<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="dashboard-container">
        <%- include('partials/sidebar') %>

            <main class="main-content">
                <%- include('partials/header') %>

                <img src="/images/main.jpg" width="100%" height="100%" alt="" srcset="">
            </main>
    </div>

    <%- include('partials/footer') %>
</body>

</html>